<div class="theme_spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12 order-last">
                <div class="form_custom">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">First Name</label>
                        <input type="text" class="form-control input_style" id="exampleFormControlInput1"
                            placeholder="First Name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                        <input type="text" class="form-control input_style" id="exampleFormControlInput1"
                            placeholder="Last Name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                        <input type="email" class="form-control input_style" id="exampleFormControlInput1"
                            placeholder="Type your Email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Phone No</label>
                        <input type="text" class="form-control input_style" id="exampleFormControlInput1"
                            placeholder="+123 4567 8900">
                    </div>

                    <div class="d-grid gap-2 ">
                        <button class="btn btn-primary cst_btn mt-2" type="button">Submit</button>
                    </div>

                </div>
            </div>
            <div class="col-md-5 col-12" >
                <div class="bnr_slogan">
                    <%=image_tag "logo.png", width:"299", height: "92"%>
                    <h3>The worlds most trusted<br>
                        and easy to use Forex platform </h3>
                    <ul>
                        <li>
                            <%=image_tag "check.png", width:"26", height: "26" %>
                            Trade with Confidence
                        </li>
                        <li>
                        <%=image_tag "check.png", width:"26", height: "26" %> Easiest Platform in the World
                            to use</li>
                        <li><%=image_tag "check.png", width:"26", height: "26" %>5* Customer Services Team</li>
                        <li><%=image_tag "check.png", width:"26", height: "26" %> Lowest start Up Costs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="client">Some Clients Reviews</h3>
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial-item equal-height style-6" style="height: 254px; overflow: scroll;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr.jpg", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">James Hendy</div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->Even without a single tutorial, I was able to figure out how to use the platform in just a few minutes. It is really straightforward and offers the lowest entry point I’ve seen. I've been using it for about two months now and started with $500 and now made over $15,000 already! It is so much easier to use than other forex trading platforms that I have seen.
                    </div>
                    <%=image_tag "star.jpg", width: "191", height: "36", class: "stars" %>
                </div>
                <div class="testimonial-item equal-height style-6" style="height: 254px; overflow: scroll;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr.jpg", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">Michael Wood</div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->I've been buying and selling forex for years now. I've tried a lot of different platforms, but this is by far the easiest one to use. I can't believe how much time it saves me! I’ve made a killing already by following the trading tipster on TG!
                    </div>
                    <%=image_tag "star.jpg", width: "191", height: "36", class: "stars" %>
                </div>
                <div class="testimonial-item equal-height style-6" style="height: 254px; overflow: scroll;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr.jpg", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">Sam Carter</div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->The customer service is great and the brokers are really easy to work with. All my questions were answered promptly. I have made a lot of money because of the quick responses and easy to follow tutorials.
                    </div>
                    <%=image_tag "star.jpg", width: "191", height: "36", class: "stars" %>
                </div>
                <div class="testimonial-item equal-height style-6" style="height: 254px; overflow: scroll;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr.jpg", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">Adrian Short</div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->I've been using this forex platform for over a year now and it is honestly amazing. My previous brokers were shady at best and would leave me hanging, but this has been great in terms of customer service. I couldn't be happier with how things are going on this easy to use platform!
                    </div>
                    <%=image_tag "star.jpg", width: "191", height: "36", class: "stars" %>
                </div>
                <div class="testimonial-item equal-height style-6" style="height: 254px; overflow: scroll;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr.jpg", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">Tom Bates </div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->I have been trading forex for the past few years and I have tried a bunch of different platforms. This is by far my favourite, it has everything you need to trade. The interface is easy to use and the account manager is great at answering questions. I no longer need to work 9-5 and I am confident that with this platform I'll be able to live the life I always dreamt of!
                    </div>
                    <%=image_tag "star.jpg", width: "191", height: "36", class: "stars" %>
                </div>
                  <div class="testimonial-item equal-height style-6" style="height: 254px; overflow: scroll;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr.jpg", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">Alice Brookes </div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->I am a first time trader trying to invest my money in the Forex market, and I was feeling like I am too lost to do it. Fortunately, I found this platform that can help me understand how the process works and has given me a head start on what things to watch out for when trading. Best of all, I only needed $250 to get started
                    </div>
                    <%=image_tag "star.jpg", width: "191", height: "36", class: "stars" %>
                </div>
            </div>
        </div>
    </div>
</div>