<div class="theme_spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12" id="first-row">
                <div class="form_custom">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">First Name</label>
                        <input type="text" class="form-control input_style" id="exampleFormControlInput1"
                            placeholder="First Name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                        <input type="text" class="form-control input_style" id="exampleFormControlInput1"
                            placeholder="Last Name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                        <input type="email" class="form-control input_style" id="exampleFormControlInput1"
                            placeholder="Type your Email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Phone No</label>
                        <input type="text" class="form-control input_style" id="exampleFormControlInput1"
                            placeholder="+123 4567 8900">
                    </div>

                    <div class="d-grid gap-2 ">
                        <button class="btn btn-primary cst_btn mt-2" type="button">Submit</button>
                    </div>

                </div>
            </div>
            <div class="col-md-5 col-12" id="second-row">
                <div class="bnr_slogan">
                    <%=image_tag "logo", width:"299", height: "92"%>
                    <h3>The worlds most trusted<br>
                        and easy to use Forex platform </h3>
                    <ul>
                        <li>
                            <%=image_tag "check", width:"26", height: "26" %>
                            Trade with Confidence
                        </li>
                        <li>
                        <%=image_tag "check", width:"26", height: "26" %> Easiest Platform in the World
                            to use</li>
                        <li><%=image_tag "check", width:"26", height: "26" %>5* Customer Services Team</li>
                        <li><%=image_tag "check", width:"26", height: "26" %> Lowest Start Up Costs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="client">Some Clients Reviews</h3>
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial-item equal-height style-6" style="height: 254px;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">Edgar Guraro </div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </div>
                    <%=image_tag "star", width: "191", height: "36", class: "stars" %>
                </div>
                <div class="testimonial-item equal-height style-6" style="height: 254px;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">Edgar Guraro </div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </div>
                    <%=image_tag "star", width: "191", height: "36", class: "stars" %>
                </div>
                <div class="testimonial-item equal-height style-6" style="height: 254px;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">Edgar Guraro </div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </div>
                    <%=image_tag "star", width: "191", height: "36", class: "stars" %>
                </div>
                <div class="testimonial-item equal-height style-6" style="height: 254px;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">Edgar Guraro </div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </div>
                    <%=image_tag "star", width: "191", height: "36", class: "stars" %>
                </div>
                <div class="testimonial-item equal-height style-6" style="height: 254px;">
                    <div class="testimonial-image cell-left">
                        <%=image_tag "usr", alt: "Edgar Guraro"  %>
                    </div>
                    <div class="cell-right">
                        <div class="testimonial-name text-left">Edgar Guraro </div>
                        <!-- <div class="testimonial-job">Assistant Project Manager
                        </div>-->
                    </div>
                    <div class="testimonial-content quote">
                        <!--<i class="fa fa-quote-left" aria-hidden="true">  
                        </i>-->Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </div>
                    <%=image_tag "star", width: "191", height: "36", class: "stars" %>
                </div>
            </div>
        </div>
    </div>
</div>